*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
div{
    width: 256.8px;
    height: 161.94px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./cut.jpg);
    background-size: contain;
    background-origin: border-box;
    background-repeat: no-repeat;
}
p{
    font-family: 'Agdasima', sans-serif;
    color: black
}
p:nth-child(1){
    font-size: 24px;
}
p:nth-child(2){
    font-size: 20px;
}
p:nth-child(3){
    align-self: flex-end;
}